* {
  box-sizing: border-box;
}
.flex,
.container,
section, .weekend-days, .workweek-days {
  display: flex;
}

section,
.flex {
  flex-direction: column;

}

.container {
  max-width: 65vw;

}
.workweek-days span{
  width: 100px;
}

span {
  border: 1px solid black;
  height: 100px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
.notes span {
  height: 100%;
  width: 150px;
}
