@media screen and (max-width: 600px) {

    main {
        margin: 0;
    }
    .left-to-right:first-child{
        width: 100%;
        font-size: 16px;
        
    }
    h1{
        font-size: 32px !important;
    }

  main .left-to-right article {
    width: 70%;
    border-radius: 100px;
    padding: 0px 30px;
    height: 450px;
  }

  .left-to-right:first-child button {
    display: none;
  }


  main section:nth-child(2) {
    flex-direction: column;
  }
  

  main section:nth-child(2) button {
    display: none;
  }

  main section:nth-child(3) article{
    width: 110%;
    gap: 0px;
    height: auto;
    padding:30px 30px;
}
main section:nth-child(3) button {
  display: none;
}
  main section:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  main section:last-child article {
    justify-content: center;
    flex-direction: row;
  }

  form {
    width: 75%;
  }

  form label:last-child {
    display: flex;
    justify-content: center;
  }

  section form label input,
section form textarea {
    width: 100%;
}
main section:last-child article img {
    width: 75%;
}

}
